<div class="row text-center">
  <h1 class="text-capitalize">MediTrack</h1>
  <marquee><h4>Your Health, Our Priority!</h4></marquee> 
  
  <!-- <div class="container">
      <div class="row">
      <div class="col-sm-3">
            <div class="flip">
              <div class="card"> 
                <div class="face front"> 
                  <div class="inner">   
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnQrjIYujxnzyHpFNWZxN01oyp73W0RrVh2w&s">
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center"> 
                    <h4>Adding hospitals, 
                      assigning the necessary equipment, and managing them efficiently.</h4>
      <!--               <button type="button" class="btn btn-default">Know More</button> -->
                  <!-- </div>
                </div>
              </div>	 
            </div>
          </div>
        <div class="col-sm-3">
            <div class="flip">
              <div class="card"> 
                <div class="face front"> 
                  <div class="inner">   
                    <img src="https://st4.depositphotos.com/37366546/38551/v/450/depositphotos_385519116-stock-illustration-supplier-icon-linear-vector-illustration.jpg">
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">  -->
                    <!-- <h4>Meeting hospitals’ equipment needs with punctual deliveries.</h4>  -->
      <!--               <button type="button" class="btn btn-default">Know More</button> -->
                  <!-- </div>
                </div>
              </div>	
            </div>
          </div>
        <div class="col-sm-3">
            <div class="flip">
              <div class="card"> 
                <div class="face front"> 
                  <div class="inner">   
                    <img src="https://i.pinimg.com/564x/7f/17/72/7f1772d9cb574311a057d37ebd94f340.jpg">
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center"> 
                    <h4>Ensure the upkeep of equipment as specified by the hospital.</h4> -->
      <!--               <button type="button" class="btn btn-default">Know More</button> -->
                  <!-- </div>
                </div>
              </div>	 
            </div>
          </div>
          </div>
        </div>
        
  </div> -->
  <!-- <div class="row text-center">
      <h1 class="text-capitalize">Medical Equipment & Tracking System</h1>
      </div>
      
      <div *ngIf="roleName==='HOSPITAL'">
          <app-createhospital></app-createhospital>
          <app-orders></app-orders>
          <app-maintenance></app-maintenance>
          <app-requestequipment></app-requestequipment>
          <app-schedule-maintenance></app-schedule-maintenance>
      </div>
      
      <div *ngIf="roleName==='TECHNICIAN'">
          <app-maintenance></app-maintenance>
      </div>
      
      <div *ngIf="roleName==='SUPPLIER'">
          <app-orders></app-orders>
      </div> -->

